In [1]:
import datetime
now = datetime.datetime.now()
print(now)
nowDate = now.strftime('%Y/%m/%d')
print("today = ", nowDate)

2018-01-01 22:49:50.334229
today =  2018/01/01

In [2]:
from datetime import date,timedelta

def findLastSunOrWed():
    targetDay = date.today()
    
    # weekday 2 = Wed 
    # weekday 6 = Sun
    offsetWed = (targetDay.weekday() - 2) % 7
    offsetSun = (targetDay.weekday() - 6) % 7
    offset = min(offsetWed, offsetSun)
    
    targetDay = targetDay - timedelta(days=offset)
    #print("Target Day : ", targetDay, targetDay.weekday())
    
    return targetDay.strftime('%Y/%m/%d')

In [3]:
folder = findLastSunOrWed()
print("target =", folder)

target = 2017/12/31

In [4]:
# debugging
#folder = "2017/12/06"
#print("target =", folder)

In [5]:
import re
from bs4 import BeautifulSoup

In [6]:
import sys
sys.path.insert(0, '../98_Crawler/01_WebBrowser/')
sys.path.insert(0, '../98_Crawler/02_Login/')
from Tab import clickTabOfFireFox, getIsDualMonitor
from HattrickLogInOut import clickFacebookLogin, clickFacebookLogout

from crawMatch import *
isDualMonitor = getIsDualMonitor()

use 2 monitor = 3840 x 1080 isDualMonitor= True
use 2 monitor = 3840 x 1080 isDualMonitor= True

In [ ]:
clickTabOfFireFox(5)

clickEmpty(112/300)
moveScroll(20)
clickFacebookLogin(484, 405)

clickFacebookLogout(1258, 336, isDualMonitor)

In [7]:
clickTabOfFireFox(5, isDualMonitor)

clickEmpty(112/300)
moveScroll(20)
clickFacebookLogin(484, 405, isDualMonitor)

clickMyClub(101/300)

clickEmpty(210/300)
moveScroll(20)
clickMatch(210/300)

clickEmpty(234/300)
moveScroll(20)
clickLastMatch(234/300)

clickFirefoxFile()

clickSavePageAs()

typeFileName()

clickRwoo(570, 460)

click02_workspace(720, 440)

click02_Hattrick(720, 440)

clickHattrickStudy(720, 415)

click00_LastKeeper(720, 415)

click2017(720, 415)

clickLastMonth()

clickLastDay()

clickSave(1305, 865)

clickFacebookLogout(1258, 336, isDualMonitor)

clickTabOfFireFox(7, isDualMonitor)

1st faceBookLogin location with region = (2404, 405, 77, 33)
1st 2nd faceBookLogin is None

TypeError: clickTabOfFireFox() missing 1 required positional argument: 'isDualMonitor'

In [8]:
import os.path, shutil
filePath = folder + '/match_files'

if ( os.path.exists(filePath) ):
    print(filePath + " <- this folder is existed.")
    shutil.rmtree(filePath, ignore_errors=True)
    print(filePath + " <- this folder is deleted.")

if not ( os.path.exists(filePath) ):
    print(filePath + " <- this folder is not existed.")

2017/12/31/match_files <- this folder is not existed.

In [9]:
with open(folder+'/match.html', 'r') as file:
    soup = BeautifulSoup(file.read(), "html.parser")

In [10]:
from parseMatch import *

In [11]:
import os.path
filePath = folder + '/match.txt'

if ( os.path.exists(filePath) ):
    os.remove(filePath)
    print(filePath + " <- this file is deleted.")

if not ( os.path.exists(filePath) ):
    print(filePath + " <- this file is not exists.")

2017/12/31/match.txt <- this file is deleted.
2017/12/31/match.txt <- this file is not exists.

In [12]:
for div in soup.find_all("div", id="ctl00_ctl00_CPContent_CPMain_ucPostMatch_rptTimeline_ctl14_timelineEventPanel"):
    for inputTag in div.find_all("input", id="ctl00_ctl00_CPContent_CPMain_ucPostMatch_rptTimeline_ctl14_playerRatingsAway"):
    #for inputTag in div.find_all("input", id="ctl00_ctl00_CPContent_CPMain_ucPostMatch_rptTimeline_ctl14_playerRatingsHome"):
        #print(inputTag.prettify())
        valueString = inputTag.get('value')
        valueString = re.sub('},', '}\n', valueString)
        
        matchList = valueString.split("\n")
        matchList = removeFirstChrLastChr(matchList)
        matchList = filterColumn(matchList)
        matchList = renamePO(matchList)
        matchList = renameNumber(matchList, folder)
        matchList = renameMin(matchList)
        matchList = changedPlayer(matchList)
        matchList = removeRows(matchList)
        matchList = sortByPO(matchList)
        
        print("\ncat match.txt\n")
        
        for line in matchList:
            print(line)

SELECT
    num, playerid --01 02
FROM player
WHERE
    date = '2017-12-31'
    order by num

This line is removed : 120,31,0.0,0,0

cat match.txt

po,num,rt,sMin,eMin
KP,2,5.5,0,90
WB,7,3.5,0,90
WB,52,4.0,0,90
CD,41,-1.0,60,90
CD,3,3.5,0,60
CD,40,4.5,0,90
W,21,-1.0,55,90
W,23,4.0,0,55
W,428060480,3.5,0,90
IM,12,-1.0,60,90
IM,25,4.5,0,60
IM,10,4.5,0,90
FW,16,6.0,0,90
FW,17,3.5,0,90

In [13]:
import os.path
filePath = folder + '/match.txt'

if ( os.path.exists(filePath) ):
    os.remove(filePath)
    print(filePath + " <- this file is deleted.")

if not ( os.path.exists(filePath) ):
    print(filePath + " <- this file is not exists.")

2017/12/31/match.txt <- this file is not exists.

In [14]:
for line in matchList:
    with open (folder + '/match.txt', 'a') as f:
        f.write(line + "\n")

In [15]:
import psycopg2

In [16]:
def dropMatchTable():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """DROP TABLE IF EXISTS match ; """
        cur.execute(sql)
        conn.commit()
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [17]:
#dropMatchTable()

In [18]:
def createMatchTable():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """
CREATE TABLE match (
    Date DATE,          --01
    Po   VARCHAR(5),    --02 Position
    Num  INT,           --03 Number
    RT   NUMERIC(2, 1), --04 Rating
    sMin INT,           --05 Start Min
    eMin INT            --06 End Min
) ; """
        cur.execute(sql)
        conn.commit()
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [19]:
#createMatchTable()

In [20]:
def selectCountMatch():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = "SELECT COUNT(*) FROM match" 
        
        cur.execute(sql)
        row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        print(sql)
    finally:
        if conn is not None:
            conn.close()
    return row[0]

In [25]:
selectCountMatch()

533

In [22]:
def insertMatchTable(time, row):
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """
INSERT INTO match ( 
    SELECT 
        to_date(%s, 'YYYY-MM-DD'), --01 
        %s, %s, %s, %s, %s         --02 03 04 05 06
) ;"""
        cur.execute(sql, ( time,
                           row[0], row[1], row[2], row[3], row[4] ) )
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error Happend")
        print(error)
        print(sql)
        print(row)
    finally:
        if conn is not None:
            conn.close()

In [30]:
import csv
with open(folder + '/match.txt', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        if(re.match( '^[0-9]{1,2}', row[1] ) ) :
            insertMatchTable( folder.replace('/','-'), row)

In [31]:
selectCountMatch()

547

In [32]:
def updateRatingOfMatchTable():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """
update match 
    set rt = player.rt 
from player   
where 
    match.date = player.date
    and player.date = player.last
    and match.po = player.po 
    and match.num = player.num 
    and match.rt != player.rt
; """
        cur.execute(sql)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error Happend")
        print(error)
        print(sql)
    finally:
        if conn is not None:
            conn.close()

In [33]:
updateRatingOfMatchTable()

In [34]:
def getTupleListFromMatch(SelectString, WhereString):
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        OrderByString = ""
        OrderByString += "\n" + "ORDER BY "
        OrderByString += "\n" + "    CASE "
        OrderByString += "\n" + "        WHEN po = 'KP' THEN 1 "
        OrderByString += "\n" + "        WHEN po = 'WB' THEN 2 "
        OrderByString += "\n" + "        WHEN po = 'CD' THEN 3 "
        OrderByString += "\n" + "        WHEN po = 'W'  THEN 4 "
        OrderByString += "\n" + "        WHEN po = 'IM' THEN 5 "
        OrderByString += "\n" + "        WHEN po = 'FW' THEN 6 "
        OrderByString += "\n" + "        ELSE 7 "
        OrderByString += "\n" + "    END "
        
        sql = SelectString + "\n" + "FROM match " + WhereString + OrderByString + "\n"
        print(sql)
        cur.execute(sql)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [35]:
SelectString = ""
SelectString += "\n" + "SELECT "
SelectString += "\n" + "    po, num, rt :: VARCHAR(5), smin, emin "

WhereString = ""
WhereString += "\n" + "WHERE "
WhereString += "\n" + "    date = '" + folder.replace('/','-') + "'"

tupleList = getTupleListFromMatch(SelectString, WhereString)
for tuple in tupleList:
    print(tuple[0], tuple[1], tuple[2], tuple[3], tuple[4], sep='\t')

SELECT
    po, num, rt :: VARCHAR(5), smin, emin
FROM match
WHERE
    date = '2017-12-31'
ORDER BY
    CASE
        WHEN po = 'KP' THEN 1
        WHEN po = 'WB' THEN 2
        WHEN po = 'CD' THEN 3
        WHEN po = 'W'  THEN 4
        WHEN po = 'IM' THEN 5
        WHEN po = 'FW' THEN 6
        ELSE 7
    END

KP	2	5.5	0	90
WB	7	3.5	0	90
WB	52	4.0	0	90
CD	41	3.5	60	90
CD	40	4.5	0	90
CD	3	4.0	0	60
W	23	4.5	0	55
W	21	4.5	55	90
W	22	3.5	0	90
IM	10	4.5	0	90
IM	12	5.0	60	90
IM	25	5.0	0	60
FW	16	6.0	0	90
FW	17	3.5	0	90

In [36]:
import os.path
filePath = folder + '/match.txt'

if ( os.path.exists(filePath) ):
    os.remove(filePath)
    print(filePath + " <- this file is deleted.")

if not ( os.path.exists(filePath) ):
    print(filePath + " <- this file is not exists.")

2017/12/31/match.txt <- this file is deleted.
2017/12/31/match.txt <- this file is not exists.

In [37]:
with open ( folder + '/match.txt', 'a' ) as f:
    f.write("po,num,rt,sMin,eMin\n")
    f.write( '\n'.join('%s,%s,%s,%s,%s' % myTuple for myTuple in tupleList) + '\n' )

In [38]:
def getKP():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =         """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num :: VARCHAR(2), emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''KP'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date,num', """
        query += "\n" + """    'SELECT DISTINCT num from match WHERE num in (2,45) ORDER BY num :: int'"""
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "     2    " VARCHAR(7), """
        query += "\n" + """    "     45   " VARCHAR(7) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query + "\n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [39]:
def xstr(s):
    if s is None:
        return '       '
    else :
        if len(s) < 7:
            s = ' ' + s
    return str(s)

In [40]:
tupleList = getKP()
print('date num min/rt |    02   |    45   ')
print('----------------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]), xstr(tuple[2]), sep=" | ")

date num min/rt |    02   |    45
----------------+---------+---------
2017-08-13      |         |
2017-08-16      |  46/4.0 |
2017-08-20      |         |
2017-08-23      |  46/4.0 |
2017-08-27      |         |
2017-08-30      |  46/4.0 |
2017-09-03      |         |
2017-09-06      |  46/4.5 |
2017-09-10      |  44/4.5 |
2017-09-13      |  46/4.5 |
2017-09-17      |  44/4.5 |
2017-09-20      |  46/4.5 |
2017-09-24      |  44/4.5 |
2017-09-27      |         |
2017-10-04      |         |
2017-10-08      |  90/4.5 |
2017-10-11      |         |
2017-10-15      |  90/4.5 |
2017-10-18      |         |
2017-10-22      |  90/4.5 |
2017-10-25      |         |
2017-10-29      |  90/4.5 |
2017-11-01      |         |
2017-11-05      |  90/4.5 |
2017-11-08      |         |
2017-11-12      |         |  90/4.0
2017-11-15      |  90/5.0 |
2017-11-19      |         |  90/4.0
2017-11-22      |  90/5.0 |
2017-11-26      |         |  90/4.0
2017-11-29      |  90/5.0 |
2017-12-03      |         |  90/4.5
2017-12-06      |  90/5.0 |
2017-12-10      |         |  90/4.5
2017-12-13      |  90/5.5 |
2017-12-17      |         |  74/4.5
2017-12-20      |  90/5.5 |
2017-12-27      |         |  90/4.0
2017-12-31      |  90/5.5 |

In [41]:
def getWB():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =         """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num, emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''WB'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date, num', """
        query += "\n" + """    'SELECT DISTINCT num from match WHERE num in (6,7,8,14,52) ORDER BY num'"""
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "   6   " VARCHAR(8), """
        query += "\n" + """    "   7   " VARCHAR(8), """
        query += "\n" + """    "   8   " VARCHAR(8), """
        query += "\n" + """    "   14  " VARCHAR(8), """
        query += "\n" + """    "   52  " VARCHAR(8) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query +" \n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [42]:
tupleList = getWB()
print('date num min/rt |    6    |    7    |    8    |    14   |    52   ')
print('----------------+---------+---------+---------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]), xstr(tuple[2]), xstr(tuple[3]), xstr(tuple[4]), xstr(tuple[5]), sep=" | ")

date num min/rt |    6    |    7    |    8    |    14   |    52
----------------+---------+---------+---------+---------+---------
2017-08-13      |  90/3.0 |         |  90/3.5 |         |
2017-08-16      |         |         |         |  90/3.5 |
2017-08-20      |  90/4.0 |         |  90/4.0 |         |
2017-08-23      |         |         |         |  90/3.5 |
2017-08-27      |  90/4.0 |         |  90/4.0 |         |
2017-08-30      |         |         |         |  90/3.5 |
2017-09-03      |  90/4.0 |         |  90/3.5 |         |
2017-09-06      |         |         |         |         |
2017-09-10      |  90/3.5 |         |  90/3.5 |         |
2017-09-13      |         |         |         |  90/4.0 |
2017-09-17      |  90/3.5 |         |  90/3.5 |         |
2017-09-20      |         |         |         |  90/4.0 |
2017-09-24      |  90/4.0 |         |  90/4.0 |         |
2017-09-27      |  90/4.0 |         |  90/3.5 |         |
2017-10-04      |  90/4.0 |         |  90/4.0 |         |
2017-10-08      |         |         |         |  69/4.5 |
2017-10-11      |  90/4.0 |         |  90/4.0 |         |
2017-10-15      |         |         |         |  90/4.0 |
2017-10-18      |  90/4.5 |         |         |         |
2017-10-22      |         |         |  90/4.0 |  90/4.0 |
2017-10-25      |  90/4.5 |         |         |         |
2017-10-29      |         |         |  90/3.0 |  90/4.0 |
2017-11-01      |  90/4.5 |  44/3.5 |         |         |
2017-11-05      |         |         |  90/3.5 |  90/4.0 |
2017-11-08      |  90/4.5 |  40/3.5 |         |         |
2017-11-12      |         |         |  90/3.5 |  90/4.0 |
2017-11-15      |  90/4.5 |  35/4.0 |         |         |
2017-11-19      |         |         |  90/3.5 |  90/4.0 |
2017-11-22      |  90/5.0 |         |         |         |
2017-11-26      |         |         |  90/3.5 |  90/4.0 |
2017-11-29      |         |         |  90/3.5 |  90/4.0 |
2017-12-03      |  90/5.0 |         |         |         |
2017-12-06      |         |         |  90/4.0 |  90/4.0 |
2017-12-10      |  90/4.0 |  90/3.0 |         |         |
2017-12-13      |         |         |  90/4.0 |  90/4.0 |
2017-12-17      |  90/3.5 |  90/3.0 |         |         |
2017-12-20      |         |         |  90/3.5 |  90/4.0 |
2017-12-27      |         |         |  90/3.5 |  90/4.0 |
2017-12-31      |         |  90/3.5 |         |         |  90/4.0

In [43]:
def getCD():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =  """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num, emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''CD'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date, num', """
        query += "\n" + """    'SELECT m from unnest(''{3,4,5,38,40,41}''::int[]) m' """
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "   3   " VARCHAR(8), """
        query += "\n" + """    "   4   " VARCHAR(8), """
        query += "\n" + """    "   5   " VARCHAR(8), """
        query += "\n" + """    "   38  " VARCHAR(8), """
        query += "\n" + """    "   40  " VARCHAR(8), """
        query += "\n" + """    "   41  " VARCHAR(8) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query + "\n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [44]:
tupleList = getCD()
print('date num min/rt |    3    |    4    |    5    |    38   |    40   |    41   ')
print('----------------+---------+---------+---------+---------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]), xstr(tuple[2]), xstr(tuple[3]), xstr(tuple[4]), xstr(tuple[5]), xstr(tuple[6]), sep=" | ")

date num min/rt |    3    |    4    |    5    |    38   |    40   |    41
----------------+---------+---------+---------+---------+---------+---------
2017-08-13      |  38/3.5 |  90/3.5 |         |         |         |
2017-08-16      |         |  46/4.0 |         |         |         |
2017-08-20      |         |         |         |         |         |
2017-08-23      |         |  90/3.5 |         |         |         |
2017-08-27      |         |         |         |         |         |
2017-08-30      |         |  90/3.5 |         |         |         |
2017-09-03      |         |         |         |         |         |
2017-09-06      |         |  90/3.5 |         |         |         |
2017-09-10      |  44/2.0 |         |         |         |         |
2017-09-13      |         |  90/3.0 |         |         |         |
2017-09-17      |  90/2.5 |         |         |         |         |
2017-09-20      |         |  90/3.5 |         |         |         |
2017-09-24      |  90/3.0 |         |         |         |         |
2017-09-27      |         |         |  90/3.0 |         |         |
2017-10-04      |         |         |  90/3.0 |         |         |
2017-10-08      |  44/3.5 |  46/3.5 |         |         |         |
2017-10-11      |  46/3.5 |         |         |         |         |
2017-10-15      |         |  46/3.0 |         |  44/3.0 |         |
2017-10-18      |  46/4.0 |         |         |         |  90/4.5 |  44/3.0
2017-10-22      |         |         |  90/3.0 |  90/2.5 |         |
2017-10-25      |  46/4.0 |         |         |         |  90/4.5 |  44/2.5
2017-10-29      |         |         |  90/3.0 |  90/2.5 |         |
2017-11-01      |  70/4.0 |         |         |         |  90/4.5 |  20/2.5
2017-11-05      |         |         |  90/3.0 |  90/2.0 |         |
2017-11-08      |  75/4.0 |  15/3.0 |         |         |  90/4.5 |
2017-11-12      |         |  44/3.0 |  90/3.0 |  46/2.0 |         |
2017-11-15      |  65/4.5 |         |         |         |  90/4.5 |  25/2.0
2017-11-19      |         |  44/3.5 |  90/3.0 |  46/2.0 |         |
2017-11-22      |  60/4.5 |         |         |         |  90/4.5 |  30/2.5
2017-11-26      |         |  50/4.0 |  90/3.5 |  40/1.5 |         |
2017-11-29      |  60/4.5 |         |         |         |  90/4.5 |  30/3.0
2017-12-03      |         |  55/4.0 |  90/3.5 |  35/2.5 |         |
2017-12-06      |  60/4.5 |         |         |         |  90/5.0 |  30/3.0
2017-12-10      |         |  55/4.0 |  90/4.0 |  35/3.0 |         |
2017-12-13      |  65/4.0 |         |         |         |  90/5.0 |  25/3.0
2017-12-17      |         |  50/4.0 |  90/4.0 |  40/3.5 |         |
2017-12-20      |  60/4.0 |         |         |         |  90/5.0 |  30/3.5
2017-12-27      |         |  50/4.5 |  90/4.0 |  40/4.0 |         |
2017-12-31      |  60/4.0 |         |         |         |  90/4.5 |  30/3.5

In [47]:
def getW():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =  """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num, emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''W'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date, num', """
        query += "\n" + """    'SELECT m from unnest(''{11,13,15,21,23}''::int[]) m' """
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "   11   " VARCHAR(8), """
        query += "\n" + """    "   13   " VARCHAR(8), """
        query += "\n" + """    "   15   " VARCHAR(8), """
        query += "\n" + """    "   21   " VARCHAR(8), """
        query += "\n" + """    "   23   " VARCHAR(8) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query + "\n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [48]:
tupleList = getW()
print('date num min/rt |    11   |    13   |    15   |    21   |    23   ')
print('----------------+---------+---------+---------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]), xstr(tuple[2]), xstr(tuple[3]), xstr(tuple[4]), xstr(tuple[5]), sep=" | ")

date num min/rt |    11   |    13   |    15   |    21   |    23
----------------+---------+---------+---------+---------+---------
2017-08-13      |         |  90/4.0 |         |         |
2017-08-16      |         |  90/4.0 |         |         |
2017-08-20      |         |         |  90/5.0 |         |
2017-08-23      |         |  25/4.0 |         |         |  90/3.0
2017-08-27      |         |         |  90/5.0 |         |
2017-08-30      |         |         |         |         |  90/3.5
2017-09-03      |         |         |         |         |
2017-09-06      |         |         |  90/5.0 |         |  90/3.5
2017-09-10      |         |         |         |         |
2017-09-13      |         |  90/4.0 |  90/5.0 |         |
2017-09-17      |         |         |         |         |  90/4.0
2017-09-20      |         |  90/4.5 |  90/5.0 |         |
2017-09-24      |         |         |         |         |  90/4.0
2017-09-27      |         |         |         |         |
2017-10-04      |         |         |         |         |
2017-10-08      |         |  90/4.5 |  90/5.5 |         |
2017-10-11      |         |         |         |         |  90/4.0
2017-10-15      |         |  90/5.0 |  90/5.5 |         |
2017-10-18      |         |         |         |         |  90/4.0
2017-10-22      |         |         |         |         |  46/4.5
2017-10-25      |         |  90/4.0 |  90/5.0 |         |
2017-10-29      |         |         |         |  20/3.5 |  70/4.0
2017-11-01      |         |  90/4.0 |  90/5.0 |         |
2017-11-05      |         |         |         |         |  65/4.0
2017-11-08      |         |  90/4.0 |  90/4.5 |         |
2017-11-12      |         |  90/4.5 |  90/5.0 |         |
2017-11-15      |         |         |         |         |  65/4.0
2017-11-19      |         |  90/5.0 |  90/4.5 |         |
2017-11-22      |         |         |         |  25/4.5 |  65/4.5
2017-11-26      |         |  90/5.0 |  90/5.0 |         |
2017-11-29      |         |         |         |  25/4.5 |  65/4.0
2017-12-03      |         |  90/5.0 |  90/5.0 |         |
2017-12-06      |         |         |         |  25/4.5 |  65/4.0
2017-12-10      |         |  90/4.5 |  90/5.0 |         |
2017-12-13      |         |         |         |  30/4.5 |  60/4.5
2017-12-17      |         |  90/4.5 |  90/4.5 |         |
2017-12-20      |         |         |         |  30/4.5 |  60/4.5
2017-12-27      |         |  90/4.5 |  90/4.5 |         |
2017-12-31      |         |         |         |  35/4.5 |  55/4.5

In [51]:
def getIM():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =  """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num, emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''IM'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date, num', """
        query += "\n" + """    'SELECT m from unnest(''{9,10,12,25,34}''::int[]) m' """
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "   9   " VARCHAR(8), """
        query += "\n" + """    "   10  " VARCHAR(8), """
        query += "\n" + """    "   12  " VARCHAR(8), """
        query += "\n" + """    "   25  " VARCHAR(8), """
        query += "\n" + """    "   34  " VARCHAR(8) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query + "\n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [53]:
tupleList = getIM()
print('date num min/rt |    09   |    10   |    12   |    25   |    34   ')
print('----------------+---------+---------+---------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]),xstr(tuple[2]),xstr(tuple[3]),xstr(tuple[4]),xstr(tuple[5]), sep=" | ")

date num min/rt |    09   |    10   |    12   |    25   |    34
----------------+---------+---------+---------+---------+---------
2017-08-13      |  90/3.0 |  90/4.0 |         |         |
2017-08-16      |         |         |         |         |
2017-08-20      |         |  90/4.0 |         |  90/4.0 |
2017-08-23      |  90/3.5 |         |         |         |
2017-08-27      |         |  90/4.5 |         |  90/3.5 |
2017-08-30      |  90/3.5 |         |         |         |
2017-09-03      |         |  90/4.5 |         |  46/3.0 |
2017-09-06      |  90/3.5 |         |         |         |
2017-09-10      |         |  90/5.0 |         |  26/3.5 |
2017-09-13      |         |         |         |         |
2017-09-17      |  69/4.5 |  90/5.0 |         |         |
2017-09-20      |         |         |         |  30/3.5 |
2017-09-24      |  90/4.0 |  90/5.0 |         |         |
2017-09-27      |         |  90/5.0 |         |  46/4.0 |
2017-10-04      |         |  90/5.0 |         |  46/4.5 |
2017-10-08      |  90/4.0 |         |         |         |
2017-10-11      |         |  90/5.0 |         |  90/4.0 |
2017-10-15      |  44/4.0 |         |         |         |
2017-10-18      |  44/4.0 |  46/5.0 |         |  90/4.0 |
2017-10-22      |  46/4.0 |         |         |         |  90/4.5
2017-10-25      |  44/4.0 |  46/5.0 |         |  90/4.5 |
2017-10-29      |  40/4.0 |         |         |         |  90/4.5
2017-11-01      |         |  90/4.5 |         |  90/4.5 |
2017-11-05      |  35/4.0 |         |         |         |  90/4.5
2017-11-08      |         |  90/4.5 |         |  90/4.5 |
2017-11-12      |  30/4.0 |         |         |         |  90/4.5
2017-11-15      |         |  90/5.0 |         |  90/4.5 |
2017-11-19      |  35/4.0 |         |         |         |  77/4.0
2017-11-22      |         |  90/5.0 |  44/5.0 |  46/4.5 |
2017-11-26      |  90/4.0 |         |         |  23/4.5 |
2017-11-29      |         |  90/5.0 |  46/4.0 |  44/4.5 |
2017-12-03      |  90/3.5 |         |         |         |  90/4.0
2017-12-06      |         |  90/5.0 |  40/3.5 |  50/4.5 |
2017-12-10      |  90/3.5 |         |         |         |  90/4.0
2017-12-13      |         |  90/5.0 |  35/3.5 |  55/5.0 |
2017-12-17      |  46/4.0 |         |         |         |  90/4.0
2017-12-20      |         |  90/5.0 |  35/4.0 |  55/5.0 |
2017-12-27      |  90/4.0 |         |         |         |
2017-12-31      |         |  90/4.5 |  30/5.0 |  60/5.0 |

In [54]:
def getFW():
    outputList = list();
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        query =  """SELECT * """
        query += "\n" + """FROM crosstab( """
        query += "\n" + """    'SELECT """
        query += "\n" + """        date :: VARCHAR(10), num :: VARCHAR(2), emin-smin||''/''||rt :: VARCHAR(7) as time_rt """
        query += "\n" + """    FROM match """
        query += "\n" + """    WHERE """
        query += "\n" + """        po = ''FW'' """
        query += "\n" + """    ORDER BY """
        query += "\n" + """        date, num', """
        query += "\n" + """    'SELECT m from unnest(''{16,17,18,31,48}''::int[]) m' """
        query += "\n" + """) """
        query += "\n" + """AS ( """
        query += "\n" + """    "date num min/rt" VARCHAR(10), """
        query += "\n" + """    "   16  " VARCHAR(8), """
        query += "\n" + """    "   17  " VARCHAR(8), """
        query += "\n" + """    "   18  " VARCHAR(8), """
        query += "\n" + """    "   31  " VARCHAR(8), """
        query += "\n" + """    "   48  " VARCHAR(8) """
        query += "\n" + """)"""
        query += "\n" + """ORDER BY 1"""

        #print(query + "\n")
        cur.execute(query)
        row = cur.fetchone()
        while row is not None:
            #print(row)
            outputList.append(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(query + "\n")
        print("Error Happend")
        print(error)
    finally:
        if conn is not None:
            conn.close()
    return outputList

In [55]:
tupleList = getFW()
print('date num min/rt |    16   |    17   |    18   |    31   |    48   ')
print('----------------+---------+---------+---------+---------+---------')
for tuple in tupleList:
    #print( len(tuple) )
    print(tuple[0] + '     ', xstr(tuple[1]), xstr(tuple[2]), xstr(tuple[3]), xstr(tuple[4]), xstr(tuple[5]), sep=" | ")

date num min/rt |    16   |    17   |    18   |    31   |    48
----------------+---------+---------+---------+---------+---------
2017-08-13      |  90/4.5 |  49/4.0 |         |         |
2017-08-16      |         |  60/4.0 |  90/3.5 |         |
2017-08-20      |  90/5.0 |  60/4.5 |         |         |
2017-08-23      |         |         |  90/3.5 |         |
2017-08-27      |         |  90/4.5 |  90/3.5 |         |
2017-08-30      |  90/5.0 |         |         |         |
2017-09-03      |         |  90/4.5 |         |  90/4.0 |
2017-09-06      |  90/5.0 |         |  46/3.5 |  44/4.5 |
2017-09-10      |  36/5.0 |  54/5.0 |         |         |
2017-09-13      |  46/5.0 |         |  44/3.5 |  90/4.5 |
2017-09-17      |  59/5.0 |         |  31/4.0 |         |
2017-09-20      |  60/5.0 |         |  30/4.0 |  90/4.0 |
2017-09-24      |  66/5.5 |         |  24/4.5 |         |
2017-09-27      |         |  90/4.5 |         |  90/4.5 |
2017-10-04      |         |  90/4.5 |         |  90/4.5 |
2017-10-08      |  90/5.5 |         |  46/5.0 |         |
2017-10-11      |         |  59/4.5 |  31/5.0 |  90/4.5 |
2017-10-15      |  90/5.5 |         |         |         |
2017-10-18      |         |         |  90/5.0 |  90/4.0 |
2017-10-22      |         |  20/5.0 |  90/4.5 |  70/4.0 |
2017-10-25      |  90/5.5 |         |         |  20/4.5 |
2017-10-29      |         |  25/5.0 |  79/5.0 |  65/4.5 |
2017-11-01      |  90/5.0 |         |         |  44/4.5 |
2017-11-05      |         |  90/4.0 |         |  46/4.5 |
2017-11-08      |  90/5.0 |  50/5.0 |         |         |
2017-11-12      |         |  50/5.0 |  90/5.0 |  40/4.5 |
2017-11-15      |  90/5.5 |  90/4.5 |         |         |
2017-11-19      |         |         |  90/5.0 |  60/4.5 |
2017-11-22      |  90/5.5 |  90/4.0 |         |         |
2017-11-26      |         |         |  90/5.0 |  60/5.0 |
2017-11-29      |  90/5.5 |  90/4.0 |         |         |
2017-12-03      |         |         |  90/5.5 |  65/5.0 |
2017-12-06      |  90/5.5 |  90/3.5 |         |         |
2017-12-10      |         |         |  90/5.5 |  60/5.5 |
2017-12-13      |  90/5.5 |         |         |  90/5.0 |
2017-12-17      |         |  65/4.0 |  90/5.5 |         |
2017-12-20      |  90/5.5 |         |         |  90/4.5 |
2017-12-27      |         |         |  90/5.5 |  90/5.0 |
2017-12-31      |  90/6.0 |  90/3.5 |         |         |