In [1]:
folder = "2017/08/05"
folder

'2017/08/05'

In [2]:
# player_skill_table from Hattrick to file

In [3]:
import pyautogui
screenWidth, screenHeight = pyautogui.size()
currentMouseX, currentMouseY = pyautogui.position()

In [4]:
# firefox 4번째 tab 클릭하기
pyautogui.moveTo(screenWidth/10*7, screenHeight/30*1, duration=1.5)
pyautogui.click()
# 나의 클럽 클릭하기
pyautogui.moveTo(screenWidth/14*9, screenHeight/30*10, duration=1.5)
pyautogui.click()
# hattrick 배경 클릭하기
pyautogui.moveTo(screenWidth/11*6, screenHeight/30*3, duration=3)
pyautogui.click()
# 스크롤 올리기
pyautogui.scroll(20)
# hattrick 선수 클릭하기
pyautogui.moveTo(screenWidth/18*11, screenHeight/31*21, duration=1.5)
pyautogui.click()
# hattrick 배경 클릭하기
pyautogui.moveTo(screenWidth/11*6, screenHeight/30*3, duration=2.5)
pyautogui.click()
# 스크롤 올리기
pyautogui.scroll(20)
# 스킬 테이블 클릭하기
pyautogui.moveTo(screenWidth/14*11, screenHeight/31*18, duration=3.5)
pyautogui.click()
# 스크롤 내리기
pyautogui.scroll(-5)
# 클럽에 소속된 시간 나타내기 클릭하기
pyautogui.moveTo(screenWidth/12*8, screenHeight/31*28, duration=4)
pyautogui.click()
# 복사 클릭하기
pyautogui.moveTo(screenWidth/14*11, screenHeight/31*8, duration=5)
pyautogui.click()
# 닫기 클릭하기
pyautogui.moveTo(screenWidth/21*20, screenHeight/31*11, duration=1.5)
pyautogui.click()
# 스킬 테이블 클릭하기
pyautogui.moveTo(screenWidth/28*22, screenHeight/34*8, duration=1.5)
pyautogui.click()
# 스크롤 올리기
pyautogui.scroll(20)
# firefox 5번째 tab 클릭하기
pyautogui.moveTo(screenWidth/12*9, screenHeight/30*1, duration=2)
pyautogui.click()

In [5]:
import pyperclip # The name you have the file
tmpClip = pyperclip.paste()

In [6]:
print(tmpClip)

[table]
[tr][th]-[/th][th]#[/th][th]Nat[/th][th]Player[/th][th]Sp[/th][th]Stat[/th][th]Age[/th][th]Since[/th][th]TSI[/th][th]LS[/th][th]XP[/th][th]Fo[/th][th]Stm[/th][th]Lo[/th][th]MB[/th][th]KP[/th][th]DF[/th][th]PM[/th][th]WI[/th][th]PS[/th][th]SC[/th][th]SP[/th][th]Psico[/th][th]Last[/th][th]Rt[/th][th]Pos[/th][th]Wage[/th][th]G[/th][th]TC[/th][th]PH[/th][th]KP[/th][th]WB[/th][th]CD[/th][th]W[/th][th]IM[/th][th]FW[/th][/tr]
[tr][td]–[/td][td]1[/td][td]Hanguk[/td][td]Jee-Seung Oh [playerid=427619233][/td][td][/td][td][/td][td]22.3[/td][td]13 주   0 일[/td][td]6810[/td][td]4[/td][td]3[/td][td]7[/td][td]6[/td][td]20[/td][td]✔[/td][td]8[/td][td]3[/td][td]1[/td][td]1[/td][td]1[/td][td]1[/td][td]6[/td][td]852[/td][td]2017-07-26 [playerid=427619233][/td][td]4.5[/td][td]KP[/td][td]1970000[/td][td]0[/td][td][playerid=427619233][/td][td][playerid=427619233][/td][td]8[/td][td]3.95[/td][td]4.03[/td][td]3.22[/td][td]3.1[/td][td]2.89[/td][/tr]
[tr][td]–[/td][td]2[/td][td]Hanguk[/td][td]Jee-Hoon Kim [playerid=428709461][/td][td][/td][td][/td][td]19.12[/td][td]5 주   0 일[/td][td]2970[/td][td]3[/td][td]1[/td][td]7[/td][td]5[/td][td]20[/td][td]✔[/td][td]6[/td][td]5[/td][td]1[/td][td]1[/td][td]1[/td][td]2[/td][td]2[/td][td]689[/td][td]2017-07-30 [playerid=428709461][/td][td]3.5[/td][td]KP[/td][td]930000[/td][td]0[/td][td][playerid=428709461][/td][td][playerid=428709461][/td][td]6.24[/td][td]4.17[/td][td]4.32[/td][td]2.79[/td][td]2.6[/td][td]2.52[/td][/tr]
[tr][td]–[/td][td]3[/td][td]Hanguk[/td][td]Eun-Seok Hong [playerid=427619235][/td][td][/td][td][/td][td]29.37[/td][td]13 주   0 일[/td][td]460[/td][td]5[/td][td]4[/td][td]6[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]6[/td][td]6[/td][td]3[/td][td]2[/td][td]2[/td][td]4[/td][td]614[/td][td]2017-07-26 [playerid=427619235][/td][td]3[/td][td]CD[/td][td]300000[/td][td]1[/td][td][playerid=427619235][/td][td][playerid=427619235][/td][td]4.04[/td][td]6.58[/td][td]7.07[/td][td]6.22[/td][td]6.61[/td][td]4.79[/td][/tr]
[tr][td]–[/td][td]4[/td][td]Hanguk[/td][td]Ji-Woon Lee [playerid=427619236][/td][td][/td][td][/td][td]19.53[/td][td]13 주   0 일[/td][td]1070[/td][td]5[/td][td]2[/td][td]6[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]7[/td][td]4[/td][td]3[/td][td]5[/td][td]2[/td][td]5[/td][td]735[/td][td]2017-07-23 [playerid=427619236][/td][td]3.5[/td][td]CD[/td][td]390000[/td][td]2[/td][td][playerid=427619236][/td][td][playerid=427619236][/td][td]3.95[/td][td]6.33[/td][td]6.61[/td][td]5.38[/td][td]5.34[/td][td]4.35[/td][/tr]
[tr][td]–[/td][td]5[/td][td]Hanguk[/td][td]Jang-Soo Choi [playerid=427619237][/td][td]빠름
더 많은 정보를 보려면 클릭[/td][td][/td][td]30.99[/td][td]13 주   0 일[/td][td]200[/td][td]5[/td][td]5[/td][td]5[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]6[/td][td]4[/td][td]4[/td][td]2[/td][td]1[/td][td]7[/td][td]603[/td][td]2017-06-22 [playerid=427619237][/td][td]2[/td][td]CD[/td][td]280000[/td][td]0[/td][td][playerid=427619237][/td][td][playerid=427619237][/td][td]3.72[/td][td]5.79[/td][td]5.85[/td][td]5.04[/td][td]4.85[/td][td]3.71[/td][/tr]
[tr][td]–[/td][td]6[/td][td]Hanguk[/td][td]Jae-Shin Cha [playerid=427619238][/td][td][/td][td]Y×1[/td][td]27.34[/td][td]13 주   0 일[/td][td]880[/td][td]5[/td][td]4[/td][td]4[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]7[/td][td]3[/td][td]6[/td][td]3[/td][td]2[/td][td]6[/td][td]767[/td][td]2017-07-26 [playerid=427619238][/td][td]3.5[/td][td]WB[/td][td]390000[/td][td]3[/td][td][playerid=427619238][/td][td][playerid=427619238][/td][td]3.52[/td][td]5.73[/td][td]5.45[/td][td]4.65[/td][td]4.01[/td][td]3.68[/td][/tr]
[tr][td]–[/td][td]7[/td][td]Hanguk[/td][td]In-Moo Byon [playerid=427619239][/td][td][/td][td][/td][td]32.22[/td][td]13 주   0 일[/td][td]470[/td][td]1[/td][td]6[/td][td]7[/td][td]6[/td][td]20[/td][td]✔[/td][td]2[/td][td]6[/td][td]5[/td][td]5[/td][td]5[/td][td]3[/td][td]6[/td][td]595[/td][td]2017-07-30 [playerid=427619239][/td][td]3.5[/td][td]CD[/td][td]300000[/td][td]4[/td][td][playerid=427619239][/td][td][playerid=427619239][/td][td]5.09[/td][td]7.25[/td][td]7.29[/td][td]6.9[/td][td]6.77[/td][td]6[/td][/tr]
[tr][td]–[/td][td]8[/td][td]Hanguk[/td][td]Hong-Chan Son [playerid=427619240][/td][td][/td][td]Y×1[/td][td]21.94[/td][td]13 주   0 일[/td][td]1120[/td][td]5[/td][td]3[/td][td]7[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]6[/td][td]5[/td][td]5[/td][td]1[/td][td]4[/td][td]624[/td][td]2017-07-26 [playerid=427619240][/td][td]3.5[/td][td]WB[/td][td]310000[/td][td]0[/td][td][playerid=427619240][/td][td][playerid=427619240][/td][td]4.02[/td][td]6.9[/td][td]7.04[/td][td]7.16[/td][td]7.24[/td][td]5.41[/td][/tr]
[tr][td]–[/td][td]9[/td][td]Hanguk[/td][td]Hoi-Taek Park [playerid=427619241][/td][td]예측할 수 없음
더 많은 정보를 보려면 클릭[/td][td][/td][td]19.101[/td][td]13 주   0 일[/td][td]1010[/td][td]2[/td][td]2[/td][td]5[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]6[/td][td]3[/td][td]6[/td][td]3[/td][td]6[/td][td]648[/td][td]2017-07-26 [playerid=427619241][/td][td]3.5[/td][td]IM[/td][td]330000[/td][td]3[/td][td][playerid=427619241][/td][td][playerid=427619241][/td][td]3.04[/td][td]5.05[/td][td]5.44[/td][td]5.3[/td][td]5.74[/td][td]4.71[/td][/tr]
[tr][td]–[/td][td]10[/td][td]Hanguk[/td][td]Kwang-Eul Jeon [playerid=427619242][/td][td][/td][td][/td][td]23.100[/td][td]13 주   0 일[/td][td]1430[/td][td]4[/td][td]3[/td][td]6[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]6[/td][td]7[/td][td]3[/td][td]3[/td][td]2[/td][td]5[/td][td]748[/td][td]2017-07-26 [playerid=427619242][/td][td]4[/td][td]IM[/td][td]430000[/td][td]2[/td][td][playerid=427619242][/td][td][playerid=427619242][/td][td]3.96[/td][td]6.73[/td][td]7.36[/td][td]6.69[/td][td]7.29[/td][td]5.12[/td][/tr]
[tr][td]–[/td][td]11[/td][td]Hanguk[/td][td]Kwang-Hwan Yun [playerid=427619243][/td][td][/td][td][/td][td]26.67[/td][td]13 주   0 일[/td][td]740[/td][td]6[/td][td]3[/td][td]5[/td][td]6[/td][td]20[/td][td]✔[/td][td]2[/td][td]5[/td][td]6[/td][td]3[/td][td]5[/td][td]2[/td][td]6[/td][td]661[/td][td]2017-07-30 [playerid=427619243][/td][td]3.5[/td][td]IM[/td][td]330000[/td][td]2[/td][td][playerid=427619243][/td][td][playerid=427619243][/td][td]3.87[/td][td]5.39[/td][td]5.81[/td][td]5.59[/td][td]6[/td][td]4.6[/td][/tr]
[tr][td]–[/td][td]12[/td][td]Hanguk[/td][td]Chan-Myung Lee [playerid=427619244][/td][td][/td][td][/td][td]25.76[/td][td]13 주   0 일[/td][td]860[/td][td]3[/td][td]4[/td][td]5[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]3[/td][td]7[/td][td]3[/td][td]4[/td][td]3[/td][td]4[/td][td]749[/td][td]2017-07-26 [playerid=427619244][/td][td]3.5[/td][td]FW[/td][td]410000[/td][td]1[/td][td][playerid=427619244][/td][td][playerid=427619244][/td][td]3.08[/td][td]4.95[/td][td]5.42[/td][td]5.93[/td][td]6.67[/td][td]5.3[/td][/tr]
[tr][td]–[/td][td]13[/td][td]Hanguk[/td][td]Sung-Kook Han [playerid=427619245][/td][td]공 마술사
더 많은 정보를 보려면 클릭[/td][td][/td][td]21.64[/td][td]13 주   0 일[/td][td]1280[/td][td]2[/td][td]3[/td][td]5[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]6[/td][td]6[/td][td]5[/td][td]2[/td][td]5[/td][td]629[/td][td]2017-07-26 [playerid=427619245][/td][td]4.5[/td][td]W[/td][td]330000[/td][td]7[/td][td][playerid=427619245][/td][td][playerid=427619245][/td][td]3.39[/td][td]5.97[/td][td]5.94[/td][td]6.21[/td][td]6.14[/td][td]4.99[/td][/tr]
[tr][td]–[/td][td]14[/td][td]Hanguk[/td][td]Se-Jong Cho [playerid=427619246][/td][td][/td][td][/td][td]28.64[/td][td]13 주   0 일[/td][td]800[/td][td]4[/td][td]5[/td][td]6[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]5[/td][td]6[/td][td]3[/td][td]4[/td][td]4[/td][td]613[/td][td]2017-07-30 [playerid=427619246][/td][td]3.5[/td][td]WB[/td][td]290000[/td][td]8[/td][td][playerid=427619246][/td][td][playerid=427619246][/td][td]3.89[/td][td]6.46[/td][td]6.3[/td][td]6.32[/td][td]6.1[/td][td]5.77[/td][/tr]
[tr][td]–[/td][td]15[/td][td]Hanguk[/td][td]Man-Ok Lee [playerid=427619247][/td][td]예측할 수 없음
더 많은 정보를 보려면 클릭[/td][td]Y×1[/td][td]23.5[/td][td]13 주   0 일[/td][td]2280[/td][td]5[/td][td]3[/td][td]7[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]5[/td][td]7[/td][td]6[/td][td]2[/td][td]4[/td][td]762[/td][td]2017-07-30 [playerid=427619247][/td][td]5[/td][td]W[/td][td]350000[/td][td]7[/td][td][playerid=427619247][/td][td][playerid=427619247][/td][td]4.03[/td][td]7.07[/td][td]6.71[/td][td]7.19[/td][td]6.69[/td][td]5.92[/td][/tr]
[tr][td]–[/td][td]16[/td][td]Hanguk[/td][td]Dong-Shik Kim [playerid=427619248][/td][td][/td][td][/td][td]18.111[/td][td]13 주   0 일[/td][td]1280[/td][td]6[/td][td]2[/td][td]5[/td][td]6[/td][td]20[/td][td]✔[/td][td]1[/td][td]3[/td][td]3[/td][td]6[/td][td]4[/td][td]7[/td][td]6[/td][td]775[/td][td]2017-07-26 [playerid=427619248][/td][td]4.5[/td][td]FW[/td][td]410000[/td][td]10[/td][td][playerid=427619248][/td][td][playerid=427619248][/td][td]2.69[/td][td]4.23[/td][td]3.78[/td][td]4.34[/td][td]3.97[/td][td]5.47[/td][/tr]
[tr][td]–[/td][td]17[/td][td]Hanguk[/td][td]Seung-Mee Kim [playerid=427619249][/td][td]예측할 수 없음
더 많은 정보를 보려면 클릭[/td][td][/td][td]34.50[/td][td]13 주   0 일[/td][td]60[/td][td]2[/td][td]6[/td][td]5[/td][td]5[/td][td]20[/td][td]✔[/td][td]1[/td][td]2[/td][td]4[/td][td]4[/td][td]4[/td][td]7[/td][td]5[/td][td]680[/td][td]2017-07-30 [playerid=427619249][/td][td]4[/td][td]FW[/td][td]300000[/td][td]12[/td][td][playerid=427619249][/td][td][playerid=427619249][/td][td]2.78[/td][td]3.91[/td][td]3.85[/td][td]4.49[/td][td]4.66[/td][td]5.65[/td][/tr]
[tr][td]–[/td][td]18[/td][td]Hanguk[/td][td]Kwang-Rae Kim [playerid=427619250][/td][td]헤딩
더 많은 정보를 보려면 클릭[/td][td]Y×2[/td][td]26.71[/td][td]13 주   0 일[/td][td]880[/td][td]3[/td][td]4[/td][td]4[/td][td]7[/td][td]20[/td][td]✔[/td][td]1[/td][td]2[/td][td]5[/td][td]3[/td][td]6[/td][td]6[/td][td]2[/td][td]631[/td][td]2017-07-30 [playerid=427619250][/td][td]4[/td][td]FW[/td][td]310000[/td][td]9[/td][td][playerid=427619250][/td][td][playerid=427619250][/td][td]2.53[/td][td]3.65[/td][td]3.82[/td][td]4.52[/td][td]4.99[/td][td]5.37[/td][/tr]
[tr][td]–[/td][td]19[/td][td]Hanguk[/td][td]Joo-Po Lee [playerid=428801949][/td][td][/td][td][/td][td]17.64[/td][td]4 주   0 일[/td][td]0[/td][td]5[/td][td]1[/td][td]5[/td][td]5[/td][td]20[/td][td]✔[/td][td]1[/td][td]2[/td][td]2[/td][td]3[/td][td]1[/td][td]1[/td][td]3[/td][td]290[/td][td][/td][td][/td][td][/td][td]250000[/td][td]0[/td][td][playerid=428801949][/td][td][playerid=428801949][/td][td]1.95[/td][td]2.58[/td][td]2.45[/td][td]2.53[/td][td]2.35[/td][td]2.13[/td][/tr]
[tr][td]–[/td][td]20[/td][td]Brasil[/td][td]Jader da Matta [playerid=427827635][/td][td][/td][td]R[/td][td]32.28[/td][td]7 주   6 일[/td][td]720[/td][td]4[/td][td]6[/td][td]7[/td][td]6[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]6[/td][td]5[/td][td]6[/td][td]2[/td][td]5[/td][td]590[/td][td]2017-07-30 [playerid=427827635][/td][td]3.5[/td][td]WB[/td][td]384000[/td][td]1[/td][td][playerid=427827635][/td][td][playerid=427827635][/td][td]4.09[/td][td]6.46[/td][td]6.63[/td][td]6.45[/td][td]6.5[/td][td]5.04[/td][/tr]
[tr][td]–[/td][td]21[/td][td]Belgium[/td][td]Jitse Haes [playerid=428112207][/td][td][/td][td]Y×1[/td][td]31.69[/td][td]7 주   6 일[/td][td]890[/td][td]4[/td][td]5[/td][td]6[/td][td]6[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]6[/td][td]5[/td][td]6[/td][td]2[/td][td]5[/td][td]596[/td][td]2017-07-30 [playerid=428112207][/td][td]3[/td][td]CD[/td][td]384000[/td][td]2[/td][td][playerid=428112207][/td][td][playerid=428112207][/td][td]3.73[/td][td]5.94[/td][td]6.1[/td][td]5.93[/td][td]5.98[/td][td]4.62[/td][/tr]
[tr][td]–[/td][td]22[/td][td]Nederland[/td][td]Keith Esser [playerid=428060480][/td][td]빠름
더 많은 정보를 보려면 클릭[/td][td][/td][td]31.86[/td][td]7 주   6 일[/td][td]890[/td][td]5[/td][td]6[/td][td]5[/td][td]6[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]5[/td][td]6[/td][td]6[/td][td]3[/td][td]6[/td][td]596[/td][td]2017-07-30 [playerid=428060480][/td][td]3.5[/td][td]W[/td][td]372000[/td][td]1[/td][td][playerid=428060480][/td][td][playerid=428060480][/td][td]3.52[/td][td]5.54[/td][td]5.43[/td][td]5.32[/td][td]5.05[/td][td]4.53[/td][/tr]
[tr][td]–[/td][td]23[/td][td]Belgium[/td][td]Mathias Piron [playerid=428125893][/td][td]공 마술사
더 많은 정보를 보려면 클릭[/td][td][/td][td]32.38[/td][td]7 주   6 일[/td][td]500[/td][td]6[/td][td]5[/td][td]4[/td][td]6[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]6[/td][td]6[/td][td]6[/td][td]3[/td][td]6[/td][td]590[/td][td]2017-07-30 [playerid=428125893][/td][td]3[/td][td]W[/td][td]372000[/td][td]1[/td][td][playerid=428125893][/td][td][playerid=428125893][/td][td]3.02[/td][td]4.95[/td][td]4.95[/td][td]4.95[/td][td]4.87[/td][td]4.11[/td][/tr]
[tr][td]–[/td][td]24[/td][td]Canada[/td][td]Philippe Morel [playerid=425173438][/td][td]예측할 수 없음
더 많은 정보를 보려면 클릭[/td][td][/td][td]33.52[/td][td]7 주   5 일[/td][td]320[/td][td]5[/td][td]5[/td][td]7[/td][td]5[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]5[/td][td]5[/td][td]6[/td][td]2[/td][td]6[/td][td]590[/td][td]2017-07-26 [playerid=425173438][/td][td]3[/td][td]W[/td][td]360000[/td][td]3[/td][td][playerid=425173438][/td][td][playerid=425173438][/td][td]3.85[/td][td]5.94[/td][td]5.98[/td][td]5.68[/td][td]5.53[/td][td]4.51[/td][/tr]
[tr][td]–[/td][td]25[/td][td]Polska[/td][td]Pylyp Nagorniak [playerid=406205227][/td][td][/td][td]Y×2[/td][td]26.111[/td][td]7 주   6 일[/td][td]1820[/td][td]5[/td][td]3[/td][td]6[/td][td]5[/td][td]8[/td][td][/td][td]1[/td][td]6[/td][td]7[/td][td]3[/td][td]6[/td][td]3[/td][td]6[/td][td]725[/td][td]2017-07-30 [playerid=406205227][/td][td]3.5[/td][td]IM[/td][td]444000[/td][td]1[/td][td][playerid=406205227][/td][td][playerid=406205227][/td][td]2.77[/td][td]5.34[/td][td]5.93[/td][td]5.53[/td][td]6.13[/td][td]4.57[/td][/tr]
[tr][td]–[/td][td]26[/td][td]Türkiye[/td][td]Türker Arkan [playerid=425734621][/td][td][/td][td]Y×1[/td][td]33.16[/td][td]7 주   6 일[/td][td]670[/td][td]1[/td][td]6[/td][td]7[/td][td]6[/td][td]8[/td][td][/td][td]2[/td][td]6[/td][td]7[/td][td]5[/td][td]6[/td][td]2[/td][td]5[/td][td]680[/td][td]2017-07-30 [playerid=425734621][/td][td]4.5[/td][td]IM[/td][td]456000[/td][td]11[/td][td][playerid=425734621][/td][td][playerid=425734621][/td][td]4.01[/td][td]6.54[/td][td]6.84[/td][td]6.78[/td][td]7.04[/td][td]5.21[/td][/tr]
[tr][td]–[/td][td]27[/td][td]Hanguk[/td][td]Joon Yuk [playerid=429133218][/td][td][/td][td][/td][td]18.72[/td][td]3 일[/td][td]170[/td][td]3[/td][td]1[/td][td]6[/td][td]5[/td][td]20[/td][td]✔[/td][td]1[/td][td]5[/td][td]4[/td][td]2[/td][td]4[/td][td]3[/td][td]3[/td][td]498[/td][td][/td][td][/td][td][/td][td]250000[/td][td]0[/td][td][playerid=429133218][/td][td][playerid=429133218][/td][td]2.8[/td][td]4.36[/td][td]4.69[/td][td]4.03[/td][td]4.27[/td][td]3.71[/td][/tr]
[tr][td]–[/td][td]28[/td][td]Hanguk[/td][td]Kyoo-Poong Jeon [playerid=428976501][/td][td][/td][td][/td][td]18.66[/td][td]2 주   0 일[/td][td]40[/td][td]3[/td][td]1[/td][td]6[/td][td]5[/td][td]20[/td][td]✔[/td][td]1[/td][td]3[/td][td]3[/td][td]3[/td][td]2[/td][td]4[/td][td]4[/td][td]406[/td][td]2017-07-30 [playerid=428976501][/td][td]2[/td][td]CD[/td][td]250000[/td][td]1[/td][td][playerid=428976501][/td][td][playerid=428976501][/td][td]2.36[/td][td]3.45[/td][td]3.45[/td][td]3.37[/td][td]3.4[/td][td]3.64[/td][/tr]
[tr][td]–[/td][td]99[/td][td]Hanguk[/td][td]Je-Min Jung [playerid=427619232] 코치[/td][td][/td][td][/td][td]41.15[/td][td]13 주   0 일[/td][td]0[/td][td]4[/td][td]8[/td][td]4[/td][td]1[/td][td]20[/td][td]✔[/td][td]0[/td][td]0[/td][td]0[/td][td]0[/td][td]0[/td][td]0[/td][td]2[/td][td]440[/td][td][/td][td][/td][td][/td][td]250000[/td][td]0[/td][td][playerid=427619232][/td][td][playerid=427619232][/td][td]1.2[/td][td]1.2[/td][td]1.2[/td][td]1.2[/td][td]1.2[/td][td]1.2[/td][/tr]
[/table]

In [7]:
def removeHattrickTag(inputList):
    outputList = list();
    for line in inputList:
        if line.find('table') == -1:
            line = line.replace('[tr]', '')
            line = line.replace('[/tr]', '')
            line = line.replace('[th]', '')
            line = line.replace('[/th]', ',')
            line = line.replace('[td]', '')
            line = line.replace('[/td]', ',')
            outputList.append(line)
    return outputList

In [8]:
def combineTwoLine(inputList):
    outputStr = "";
    for line in inputList:
        col = line.split(",")
        if len(col) == 37 : 
            outputStr = outputStr + line + "\n"
        if len(col) == 5 : 
            outputStr = outputStr + line 
        if len(col) == 33 : 
            for i in range(1, 33):
                outputStr = outputStr + "," + col[i]
            outputStr = outputStr + "\n"
    outputStr = outputStr[:-1]
    return outputStr.split("\n")

In [9]:
def modifySharpToNumber(inputList):
    outputList = list();
    for line in inputList:
        if line.find("#") > -1 : line = line.replace("#", "Number")
        outputList.append(line)
    return outputList

In [10]:
def modifySpToSpecial(inputList):
    outputList = list();
    for line in inputList:
        if line.find("Sp") > -1 : 
            line = line.replace("Sp", "Special", 1)
        else :
            line = line.replace("공 마술사", "Technical", 1)
            line = line.replace("빠름", "Quick", 1)
            line = line.replace("헤딩", "Head", 1)
            line = line.replace("힘", "Powerful", 1)
            line = line.replace("예측할 수 없음", "Unpredictable", 1)
        outputList.append(line)
    return outputList

In [11]:
def removeFirstColumn(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        tmpStr = ""
        
        for i in range(1,len(col)):
            tmpStr += col[i] + ","
        tmpStr = tmpStr[:-1]
        outputList.append(tmpStr)
    return outputList

In [12]:
def dividePlayerAndPlayerID(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        tmpStr = ""
        if col[2] == "Player": 
            col[2] = "Player,PlayerID"
            tmpStr += col[0]
            for i in range(1, len(col)):
                tmpStr += "," + col[i]
            outputList.append(tmpStr)
        else : 
            tmpStr = col[2].replace(" [playerid=", ",", 1)
            endIndex = tmpStr.find("]")
            col[2] = tmpStr[:endIndex]
            
            tmpStr = col[0]
            for i in range(1, len(col)):
                tmpStr += "," + col[i]
            outputList.append(tmpStr)
    return outputList

In [13]:
def removeSpaceInSince(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[7] != "Since":
            tmpStr = ""
            tmpStr = line.replace(" 주", "주", 1).replace("주 ", "주", 1).replace("주 ", "주", 1).replace(" 일", "일", 1)
            outputList.append(tmpStr)
        else:
            outputList.append(line)
    return outputList

In [14]:
def modifyMB(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[14] == "MB":
            outputList.append(line)
        if len( col[14] ) == 1:
            tmpLine = line.replace("✔", "TRUE", 1)
            outputList.append(tmpLine)
        if len( col[14] ) == 0:
            col[14] = "FALSE"
            tmpLine = col[0]
            for i in range(1, len(col) ):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
    return outputList

In [15]:
def modifyLast(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[23] == "Last":
            outputList.append(line)
        else :
            col[23] = col[23][:10]
            tmpLine = col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
    return outputList

In [16]:
def assignEmptyForTC(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[28] == "TC":
            outputList.append(line)
        else :
            col[28] = ""
            tmpLine = col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
    return outputList

In [17]:
def assignEmptyForPH(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[29] == "PH":
            outputList.append(line)
        else :
            col[29] = ""
            tmpLine = col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
    return outputList

In [18]:
def modifyKPPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[30] == "KP": 
            col[30] = "KPPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [19]:
def modifyWBPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[31] == "WB": 
            col[31] = "WBPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [20]:
def modifyCDPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[32] == "CD": 
            col[32] = "CDPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [21]:
def modifyWPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[33] == "W": 
            col[33] = "WPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [22]:
def modifyIMPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[34] == "IM": 
            col[34] = "IMPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [23]:
def modifyFWPos(inputList):
    outputList = list();
    for line in inputList:
        col = line.split(",")
        if col[35] == "FW": 
            col[35] = "FWPos"
            tmpLine =col[0]
            for i in range(1, len(col)):
                tmpLine += "," + col[i]
            outputList.append(tmpLine)
        else :
            outputList.append(line)
    return outputList

In [24]:
def removeLastString(inputList):
    outputList = list();
    for line in inputList:
        outputList.append( line[0:-1] )
    return outputList

In [25]:
lineList = tmpClip.split("\n");

lineList = removeHattrickTag(lineList)
lineList = combineTwoLine(lineList)
lineList = modifySharpToNumber(lineList)
lineList = modifySpToSpecial(lineList)
lineList = removeFirstColumn(lineList)
lineList = dividePlayerAndPlayerID(lineList)
lineList = removeSpaceInSince(lineList)
lineList = modifyMB(lineList)
lineList = modifyLast(lineList)
lineList = assignEmptyForTC(lineList)
lineList = assignEmptyForPH(lineList)
lineList = modifyKPPos(lineList)
lineList = modifyWBPos(lineList)
lineList = modifyCDPos(lineList)
lineList = modifyWPos(lineList)
lineList = modifyIMPos(lineList)
lineList = modifyFWPos(lineList)
lineList = removeLastString(lineList)

In [26]:
for line in lineList:
    print(line)
    #print(len( line.split(",") ) )

Number,Nat,Player,PlayerID,Special,Stat,Age,Since,TSI,LS,XP,Fo,Stm,Lo,MB,KP,DF,PM,WI,PS,SC,SP,Psico,Last,Rt,Pos,Wage,G,TC,PH,KPPos,WBPos,CDPos,WPos,IMPos,FWPos
1,Hanguk,Jee-Seung Oh,427619233,,,22.3,13주 0일,6810,4,3,7,6,20,TRUE,8,3,1,1,1,1,6,852,2017-07-26,4.5,KP,1970000,0,,,8,3.95,4.03,3.22,3.1,2.89
2,Hanguk,Jee-Hoon Kim,428709461,,,19.12,5주 0일,2970,3,1,7,5,20,TRUE,6,5,1,1,1,2,2,689,2017-07-30,3.5,KP,930000,0,,,6.24,4.17,4.32,2.79,2.6,2.52
3,Hanguk,Eun-Seok Hong,427619235,,,29.37,13주 0일,460,5,4,6,6,20,TRUE,1,6,6,3,2,2,4,614,2017-07-26,3,CD,300000,1,,,4.04,6.58,7.07,6.22,6.61,4.79
4,Hanguk,Ji-Woon Lee,427619236,,,19.53,13주 0일,1070,5,2,6,6,20,TRUE,1,7,4,3,5,2,5,735,2017-07-23,3.5,CD,390000,2,,,3.95,6.33,6.61,5.38,5.34,4.35
5,Hanguk,Jang-Soo Choi,427619237,Quick,,30.99,13주 0일,200,5,5,5,6,20,TRUE,1,6,4,4,2,1,7,603,2017-06-22,2,CD,280000,0,,,3.72,5.79,5.85,5.04,4.85,3.71
6,Hanguk,Jae-Shin Cha,427619238,,Y×1,27.34,13주 0일,880,5,4,4,7,20,TRUE,1,7,3,6,3,2,6,767,2017-07-26,3.5,WB,390000,3,,,3.52,5.73,5.45,4.65,4.01,3.68
7,Hanguk,In-Moo Byon,427619239,,,32.22,13주 0일,470,1,6,7,6,20,TRUE,2,6,5,5,5,3,6,595,2017-07-30,3.5,CD,300000,4,,,5.09,7.25,7.29,6.9,6.77,6
8,Hanguk,Hong-Chan Son,427619240,,Y×1,21.94,13주 0일,1120,5,3,7,7,20,TRUE,1,5,6,5,5,1,4,624,2017-07-26,3.5,WB,310000,0,,,4.02,6.9,7.04,7.16,7.24,5.41
9,Hanguk,Hoi-Taek Park,427619241,Unpredictable,,19.101,13주 0일,1010,2,2,5,6,20,TRUE,1,5,6,3,6,3,6,648,2017-07-26,3.5,IM,330000,3,,,3.04,5.05,5.44,5.3,5.74,4.71
10,Hanguk,Kwang-Eul Jeon,427619242,,,23.100,13주 0일,1430,4,3,6,7,20,TRUE,1,6,7,3,3,2,5,748,2017-07-26,4,IM,430000,2,,,3.96,6.73,7.36,6.69,7.29,5.12
11,Hanguk,Kwang-Hwan Yun,427619243,,,26.67,13주 0일,740,6,3,5,6,20,TRUE,2,5,6,3,5,2,6,661,2017-07-30,3.5,IM,330000,2,,,3.87,5.39,5.81,5.59,6,4.6
12,Hanguk,Chan-Myung Lee,427619244,,,25.76,13주 0일,860,3,4,5,7,20,TRUE,1,3,7,3,4,3,4,749,2017-07-26,3.5,FW,410000,1,,,3.08,4.95,5.42,5.93,6.67,5.3
13,Hanguk,Sung-Kook Han,427619245,Technical,,21.64,13주 0일,1280,2,3,5,7,20,TRUE,1,5,6,6,5,2,5,629,2017-07-26,4.5,W,330000,7,,,3.39,5.97,5.94,6.21,6.14,4.99
14,Hanguk,Se-Jong Cho,427619246,,,28.64,13주 0일,800,4,5,6,6,20,TRUE,1,5,5,6,3,4,4,613,2017-07-30,3.5,WB,290000,8,,,3.89,6.46,6.3,6.32,6.1,5.77
15,Hanguk,Man-Ok Lee,427619247,Unpredictable,Y×1,23.5,13주 0일,2280,5,3,7,7,20,TRUE,1,5,5,7,6,2,4,762,2017-07-30,5,W,350000,7,,,4.03,7.07,6.71,7.19,6.69,5.92
16,Hanguk,Dong-Shik Kim,427619248,,,18.111,13주 0일,1280,6,2,5,6,20,TRUE,1,3,3,6,4,7,6,775,2017-07-26,4.5,FW,410000,10,,,2.69,4.23,3.78,4.34,3.97,5.47
17,Hanguk,Seung-Mee Kim,427619249,Unpredictable,,34.50,13주 0일,60,2,6,5,5,20,TRUE,1,2,4,4,4,7,5,680,2017-07-30,4,FW,300000,12,,,2.78,3.91,3.85,4.49,4.66,5.65
18,Hanguk,Kwang-Rae Kim,427619250,Head,Y×2,26.71,13주 0일,880,3,4,4,7,20,TRUE,1,2,5,3,6,6,2,631,2017-07-30,4,FW,310000,9,,,2.53,3.65,3.82,4.52,4.99,5.37
19,Hanguk,Joo-Po Lee,428801949,,,17.64,4주 0일,0,5,1,5,5,20,TRUE,1,2,2,3,1,1,3,290,,,,250000,0,,,1.95,2.58,2.45,2.53,2.35,2.13
20,Brasil,Jader da Matta,427827635,,R,32.28,7주 6일,720,4,6,7,6,8,FALSE,2,6,6,5,6,2,5,590,2017-07-30,3.5,WB,384000,1,,,4.09,6.46,6.63,6.45,6.5,5.04
21,Belgium,Jitse Haes,428112207,,Y×1,31.69,7주 6일,890,4,5,6,6,8,FALSE,2,6,6,5,6,2,5,596,2017-07-30,3,CD,384000,2,,,3.73,5.94,6.1,5.93,5.98,4.62
22,Nederland,Keith Esser,428060480,Quick,,31.86,7주 6일,890,5,6,5,6,8,FALSE,2,6,5,6,6,3,6,596,2017-07-30,3.5,W,372000,1,,,3.52,5.54,5.43,5.32,5.05,4.53
23,Belgium,Mathias Piron,428125893,Technical,,32.38,7주 6일,500,6,5,4,6,8,FALSE,2,6,6,6,6,3,6,590,2017-07-30,3,W,372000,1,,,3.02,4.95,4.95,4.95,4.87,4.11
24,Canada,Philippe Morel,425173438,Unpredictable,,33.52,7주 5일,320,5,5,7,5,8,FALSE,2,6,5,5,6,2,6,590,2017-07-26,3,W,360000,3,,,3.85,5.94,5.98,5.68,5.53,4.51
25,Polska,Pylyp Nagorniak,406205227,,Y×2,26.111,7주 6일,1820,5,3,6,5,8,FALSE,1,6,7,3,6,3,6,725,2017-07-30,3.5,IM,444000,1,,,2.77,5.34,5.93,5.53,6.13,4.57
26,Türkiye,Türker Arkan,425734621,,Y×1,33.16,7주 6일,670,1,6,7,6,8,FALSE,2,6,7,5,6,2,5,680,2017-07-30,4.5,IM,456000,11,,,4.01,6.54,6.84,6.78,7.04,5.21
27,Hanguk,Joon Yuk,429133218,,,18.72,3일,170,3,1,6,5,20,TRUE,1,5,4,2,4,3,3,498,,,,250000,0,,,2.8,4.36,4.69,4.03,4.27,3.71
28,Hanguk,Kyoo-Poong Jeon,428976501,,,18.66,2주 0일,40,3,1,6,5,20,TRUE,1,3,3,3,2,4,4,406,2017-07-30,2,CD,250000,1,,,2.36,3.45,3.45,3.37,3.4,3.64
99,Hanguk,Je-Min Jung,427619232,,,41.15,13주 0일,0,4,8,4,1,20,TRUE,0,0,0,0,0,0,2,440,,,,250000,0,,,1.2,1.2,1.2,1.2,1.2,1.2

In [27]:
import os.path
filePath = folder + '/player_skill_table.txt'
if ( os.path.exists(filePath) ):
    os.remove(filePath)
print( os.path.exists(filePath) )

False

In [28]:
with open(folder+'/player_skill_table.txt', 'a') as f:
    for line in lineList:
        f.write(line + "\n")

In [ ]:
# player_skill_table from file to table

In [ ]:
import pymsgbox

In [ ]:
pymsgbox.alert(text='', title='', button='OK')

In [ ]:
getText = pymsgbox.confirm(text='Choose OK or Cancel', title='', buttons=['OK', 'Cancel'])

In [ ]:
print(getText)

In [29]:
import psycopg2

In [30]:
def dropPlayerTable():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """DROP TABLE IF EXISTS player ; """
        cur.execute(sql)
        conn.commit()
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [39]:
#dropPlayerTable()

In [40]:
def createPlayerTable():
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql = """
CREATE TABLE player (
    Date DATE,           --1
    Num int,             --2
    Nat VARCHAR(30),     --3
    Player VARCHAR(30),  --4
    PlayerID BIGINT,     --5
    Spacial VARCHAR(30), --6
    st VARCHAR(10),      --7  Status Yellow, Red
    Age VARCHAR(10),     --8
    Since VARCHAR(30),   --9
    TSI BIGINT,          --10
    LS INT,              --11
    XP INT,              --12
    Fo INT,              --13
    Stm INT,             --14
    Lo INT,              --15
    MB boolean,          --16
    KP INT,              --17
    DF INT,              --18
    PM INT,              --19
    WI INT,              --20
    PS INT,              --21
    SC INT,              --22
    SP INT,              --23
    con BIGINT,          --24 Psico
    Last DATE,           --25
    RT NUMERIC(2, 1),    --26 Rating
    Po VARCHAR(5),       --27 Position
    Wage BIGINT,         --28
    G INT,               --29
    --TC VARCHAR(1),     --
    --PH VARCHAR(1),     --
    KP_P NUMERIC(4, 2),  --30 KP Position
    WB_P NUMERIC(4, 2),  --31 WB Position
    CD_P NUMERIC(4, 2),  --32 CD Position
    W_P NUMERIC(4, 2),   --33 W  Position
    IM_P NUMERIC(4, 2),  --34 IM Position
    FW_P NUMERIC(4, 2)   --35 FW Position
) ; """
        cur.execute(sql)
        conn.commit()
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [41]:
#createPlayerTable()

In [34]:
def insertPlayerTable(time, row):
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        sql =  """
INSERT INTO player ( 
    SELECT 
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ; """
        #sql = """INSERT INTO player (SELECT to_date(%s, 'YYYY-MM-DD'), %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) ;"""
        print(sql + "\t")
        cur.execute(sql, (time, 
                          row[0],row[1],row[2],row[3],row[4],
                          row[5],row[6],row[7],row[8],row[9],
                          row[10],row[11],row[12],row[13],row[14], 
                          row[15],row[16],row[17],row[18],row[19],
                          row[20],row[21],row[22],row[23],row[24],
                          row[25],row[26],row[27],
                          row[30],row[31],row[32],row[33],row[34],
                          row[35]
                         ))
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("test")
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [35]:
import csv, re

In [42]:
with open(folder + '/player_skill_table.txt', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        #print(row)
        if row[0] != "Number" :
            print(row)
            insertPlayerTable('2017-08-05', row)

['1', 'Hanguk', 'Jee-Seung Oh', '427619233', '', '', '22.3', '13주 0일', '6810', '4', '3', '7', '6', '20', 'TRUE', '8', '3', '1', '1', '1', '1', '6', '852', '2017-07-26', '4.5', 'KP', '1970000', '0', '', '', '8', '3.95', '4.03', '3.22', '3.1', '2.89']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['2', 'Hanguk', 'Jee-Hoon Kim', '428709461', '', '', '19.12', '5주 0일', '2970', '3', '1', '7', '5', '20', 'TRUE', '6', '5', '1', '1', '1', '2', '2', '689', '2017-07-30', '3.5', 'KP', '930000', '0', '', '', '6.24', '4.17', '4.32', '2.79', '2.6', '2.52']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['3', 'Hanguk', 'Eun-Seok Hong', '427619235', '', '', '29.37', '13주 0일', '460', '5', '4', '6', '6', '20', 'TRUE', '1', '6', '6', '3', '2', '2', '4', '614', '2017-07-26', '3', 'CD', '300000', '1', '', '', '4.04', '6.58', '7.07', '6.22', '6.61', '4.79']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['4', 'Hanguk', 'Ji-Woon Lee', '427619236', '', '', '19.53', '13주 0일', '1070', '5', '2', '6', '6', '20', 'TRUE', '1', '7', '4', '3', '5', '2', '5', '735', '2017-07-23', '3.5', 'CD', '390000', '2', '', '', '3.95', '6.33', '6.61', '5.38', '5.34', '4.35']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['5', 'Hanguk', 'Jang-Soo Choi', '427619237', 'Quick', '', '30.99', '13주 0일', '200', '5', '5', '5', '6', '20', 'TRUE', '1', '6', '4', '4', '2', '1', '7', '603', '2017-06-22', '2', 'CD', '280000', '0', '', '', '3.72', '5.79', '5.85', '5.04', '4.85', '3.71']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['6', 'Hanguk', 'Jae-Shin Cha', '427619238', '', 'Y×1', '27.34', '13주 0일', '880', '5', '4', '4', '7', '20', 'TRUE', '1', '7', '3', '6', '3', '2', '6', '767', '2017-07-26', '3.5', 'WB', '390000', '3', '', '', '3.52', '5.73', '5.45', '4.65', '4.01', '3.68']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['7', 'Hanguk', 'In-Moo Byon', '427619239', '', '', '32.22', '13주 0일', '470', '1', '6', '7', '6', '20', 'TRUE', '2', '6', '5', '5', '5', '3', '6', '595', '2017-07-30', '3.5', 'CD', '300000', '4', '', '', '5.09', '7.25', '7.29', '6.9', '6.77', '6']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['8', 'Hanguk', 'Hong-Chan Son', '427619240', '', 'Y×1', '21.94', '13주 0일', '1120', '5', '3', '7', '7', '20', 'TRUE', '1', '5', '6', '5', '5', '1', '4', '624', '2017-07-26', '3.5', 'WB', '310000', '0', '', '', '4.02', '6.9', '7.04', '7.16', '7.24', '5.41']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['9', 'Hanguk', 'Hoi-Taek Park', '427619241', 'Unpredictable', '', '19.101', '13주 0일', '1010', '2', '2', '5', '6', '20', 'TRUE', '1', '5', '6', '3', '6', '3', '6', '648', '2017-07-26', '3.5', 'IM', '330000', '3', '', '', '3.04', '5.05', '5.44', '5.3', '5.74', '4.71']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['10', 'Hanguk', 'Kwang-Eul Jeon', '427619242', '', '', '23.100', '13주 0일', '1430', '4', '3', '6', '7', '20', 'TRUE', '1', '6', '7', '3', '3', '2', '5', '748', '2017-07-26', '4', 'IM', '430000', '2', '', '', '3.96', '6.73', '7.36', '6.69', '7.29', '5.12']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['11', 'Hanguk', 'Kwang-Hwan Yun', '427619243', '', '', '26.67', '13주 0일', '740', '6', '3', '5', '6', '20', 'TRUE', '2', '5', '6', '3', '5', '2', '6', '661', '2017-07-30', '3.5', 'IM', '330000', '2', '', '', '3.87', '5.39', '5.81', '5.59', '6', '4.6']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['12', 'Hanguk', 'Chan-Myung Lee', '427619244', '', '', '25.76', '13주 0일', '860', '3', '4', '5', '7', '20', 'TRUE', '1', '3', '7', '3', '4', '3', '4', '749', '2017-07-26', '3.5', 'FW', '410000', '1', '', '', '3.08', '4.95', '5.42', '5.93', '6.67', '5.3']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['13', 'Hanguk', 'Sung-Kook Han', '427619245', 'Technical', '', '21.64', '13주 0일', '1280', '2', '3', '5', '7', '20', 'TRUE', '1', '5', '6', '6', '5', '2', '5', '629', '2017-07-26', '4.5', 'W', '330000', '7', '', '', '3.39', '5.97', '5.94', '6.21', '6.14', '4.99']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['14', 'Hanguk', 'Se-Jong Cho', '427619246', '', '', '28.64', '13주 0일', '800', '4', '5', '6', '6', '20', 'TRUE', '1', '5', '5', '6', '3', '4', '4', '613', '2017-07-30', '3.5', 'WB', '290000', '8', '', '', '3.89', '6.46', '6.3', '6.32', '6.1', '5.77']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['15', 'Hanguk', 'Man-Ok Lee', '427619247', 'Unpredictable', 'Y×1', '23.5', '13주 0일', '2280', '5', '3', '7', '7', '20', 'TRUE', '1', '5', '5', '7', '6', '2', '4', '762', '2017-07-30', '5', 'W', '350000', '7', '', '', '4.03', '7.07', '6.71', '7.19', '6.69', '5.92']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['16', 'Hanguk', 'Dong-Shik Kim', '427619248', '', '', '18.111', '13주 0일', '1280', '6', '2', '5', '6', '20', 'TRUE', '1', '3', '3', '6', '4', '7', '6', '775', '2017-07-26', '4.5', 'FW', '410000', '10', '', '', '2.69', '4.23', '3.78', '4.34', '3.97', '5.47']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['17', 'Hanguk', 'Seung-Mee Kim', '427619249', 'Unpredictable', '', '34.50', '13주 0일', '60', '2', '6', '5', '5', '20', 'TRUE', '1', '2', '4', '4', '4', '7', '5', '680', '2017-07-30', '4', 'FW', '300000', '12', '', '', '2.78', '3.91', '3.85', '4.49', '4.66', '5.65']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['18', 'Hanguk', 'Kwang-Rae Kim', '427619250', 'Head', 'Y×2', '26.71', '13주 0일', '880', '3', '4', '4', '7', '20', 'TRUE', '1', '2', '5', '3', '6', '6', '2', '631', '2017-07-30', '4', 'FW', '310000', '9', '', '', '2.53', '3.65', '3.82', '4.52', '4.99', '5.37']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['19', 'Hanguk', 'Joo-Po Lee', '428801949', '', '', '17.64', '4주 0일', '0', '5', '1', '5', '5', '20', 'TRUE', '1', '2', '2', '3', '1', '1', '3', '290', '', '', '', '250000', '0', '', '', '1.95', '2.58', '2.45', '2.53', '2.35', '2.13']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
test
invalid input syntax for type date: ""
LINE 9:         '1', '3', '290', '', '',        --22,23,24,25,26
                                 ^

['20', 'Brasil', 'Jader da Matta', '427827635', '', 'R', '32.28', '7주 6일', '720', '4', '6', '7', '6', '8', 'FALSE', '2', '6', '6', '5', '6', '2', '5', '590', '2017-07-30', '3.5', 'WB', '384000', '1', '', '', '4.09', '6.46', '6.63', '6.45', '6.5', '5.04']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['21', 'Belgium', 'Jitse Haes', '428112207', '', 'Y×1', '31.69', '7주 6일', '890', '4', '5', '6', '6', '8', 'FALSE', '2', '6', '6', '5', '6', '2', '5', '596', '2017-07-30', '3', 'CD', '384000', '2', '', '', '3.73', '5.94', '6.1', '5.93', '5.98', '4.62']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;

['22', 'Nederland', 'Keith Esser', '428060480', 'Quick', '', '31.86', '7주 6일', '890', '5', '6', '5', '6', '8', 'FALSE', '2', '6', '5', '6', '6', '3', '6', '596', '2017-07-30', '3.5', 'W', '372000', '1', '', '', '3.52', '5.54', '5.43', '5.32', '5.05', '4.53']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['23', 'Belgium', 'Mathias Piron', '428125893', 'Technical', '', '32.38', '7주 6일', '500', '6', '5', '4', '6', '8', 'FALSE', '2', '6', '6', '6', '6', '3', '6', '590', '2017-07-30', '3', 'W', '372000', '1', '', '', '3.02', '4.95', '4.95', '4.95', '4.87', '4.11']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['24', 'Canada', 'Philippe Morel', '425173438', 'Unpredictable', '', '33.52', '7주 5일', '320', '5', '5', '7', '5', '8', 'FALSE', '2', '6', '5', '5', '6', '2', '6', '590', '2017-07-26', '3', 'W', '360000', '3', '', '', '3.85', '5.94', '5.98', '5.68', '5.53', '4.51']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['25', 'Polska', 'Pylyp Nagorniak', '406205227', '', 'Y×2', '26.111', '7주 6일', '1820', '5', '3', '6', '5', '8', 'FALSE', '1', '6', '7', '3', '6', '3', '6', '725', '2017-07-30', '3.5', 'IM', '444000', '1', '', '', '2.77', '5.34', '5.93', '5.53', '6.13', '4.57']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['26', 'Türkiye', 'Türker Arkan', '425734621', '', 'Y×1', '33.16', '7주 6일', '670', '1', '6', '7', '6', '8', 'FALSE', '2', '6', '7', '5', '6', '2', '5', '680', '2017-07-30', '4.5', 'IM', '456000', '11', '', '', '4.01', '6.54', '6.84', '6.78', '7.04', '5.21']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['27', 'Hanguk', 'Joon Yuk', '429133218', '', '', '18.72', '3일', '170', '3', '1', '6', '5', '20', 'TRUE', '1', '5', '4', '2', '4', '3', '3', '498', '', '', '', '250000', '0', '', '', '2.8', '4.36', '4.69', '4.03', '4.27', '3.71']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
test
invalid input syntax for type date: ""
LINE 9:         '3', '3', '498', '', '',        --22,23,24,25,26
                                 ^

['28', 'Hanguk', 'Kyoo-Poong Jeon', '428976501', '', '', '18.66', '2주 0일', '40', '3', '1', '6', '5', '20', 'TRUE', '1', '3', '3', '3', '2', '4', '4', '406', '2017-07-30', '2', 'CD', '250000', '1', '', '', '2.36', '3.45', '3.45', '3.37', '3.4', '3.64']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
['99', 'Hanguk', 'Je-Min Jung', '427619232', '', '', '41.15', '13주 0일', '0', '4', '8', '4', '1', '20', 'TRUE', '0', '0', '0', '0', '0', '0', '2', '440', '', '', '', '250000', '0', '', '', '1.2', '1.2', '1.2', '1.2', '1.2', '1.2']

INSERT INTO player (
    SELECT
        to_date(%s, 'YYYY-MM-DD'), -- 1
        %s, %s, %s, %s, %s,        -- 2, 3, 4, 5, 6
        %s, %s, %s, %s, %s,        -- 7, 8, 9,10,11
        %s, %s, %s, %s, %s,        --12,13,14,15,16
        %s, %s, %s, %s, %s,        --17,18,19,20,21
        %s, %s, %s, %s, %s,        --22,23,24,25,26
        %s, %s, %s,                --27,28,29
        %s, %s, %s, %s, %s,        --30,31,32,33,34
        %s                         --35
) ;
test
invalid input syntax for type date: ""
LINE 9:         '0', '2', '440', '', '',        --22,23,24,25,26
                                 ^

In [37]:
def selectAll(tableName):
    conn = None
    try:
        conn = psycopg2.connect("dbname='mydatabase' user='myuser' host='localhost' port='65432' password='123qwe'")
        cur = conn.cursor()
        cur.execute("SELECT * FROM " + tableName)
        row = cur.fetchone()
        while row is not None:
            print(row)
            row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
            print(error)
    finally:
        if conn is not None:
            conn.close()

In [38]:
selectAll("player")

(datetime.date(2017, 8, 5), 1, 'Hanguk', 'Jee-Seung Oh', 427619233, '', '', '22.3', '13주 0일', 6810, 4, 3, 7, 6, 20, True, 8, 3, 1, 1, 1, 1, 6, 852, datetime.date(2017, 7, 26), Decimal('4.5'), 'KP', 1970000, 0, Decimal('8.00'), Decimal('3.95'), Decimal('4.03'), Decimal('3.22'), Decimal('3.10'), Decimal('2.89'))
(datetime.date(2017, 8, 5), 2, 'Hanguk', 'Jee-Hoon Kim', 428709461, '', '', '19.12', '5주 0일', 2970, 3, 1, 7, 5, 20, True, 6, 5, 1, 1, 1, 2, 2, 689, datetime.date(2017, 7, 30), Decimal('3.5'), 'KP', 930000, 0, Decimal('6.24'), Decimal('4.17'), Decimal('4.32'), Decimal('2.79'), Decimal('2.60'), Decimal('2.52'))
(datetime.date(2017, 8, 5), 3, 'Hanguk', 'Eun-Seok Hong', 427619235, '', '', '29.37', '13주 0일', 460, 5, 4, 6, 6, 20, True, 1, 6, 6, 3, 2, 2, 4, 614, datetime.date(2017, 7, 26), Decimal('3.0'), 'CD', 300000, 1, Decimal('4.04'), Decimal('6.58'), Decimal('7.07'), Decimal('6.22'), Decimal('6.61'), Decimal('4.79'))
(datetime.date(2017, 8, 5), 4, 'Hanguk', 'Ji-Woon Lee', 427619236, '', '', '19.53', '13주 0일', 1070, 5, 2, 6, 6, 20, True, 1, 7, 4, 3, 5, 2, 5, 735, datetime.date(2017, 7, 23), Decimal('3.5'), 'CD', 390000, 2, Decimal('3.95'), Decimal('6.33'), Decimal('6.61'), Decimal('5.38'), Decimal('5.34'), Decimal('4.35'))
(datetime.date(2017, 8, 5), 5, 'Hanguk', 'Jang-Soo Choi', 427619237, 'Quick', '', '30.99', '13주 0일', 200, 5, 5, 5, 6, 20, True, 1, 6, 4, 4, 2, 1, 7, 603, datetime.date(2017, 6, 22), Decimal('2.0'), 'CD', 280000, 0, Decimal('3.72'), Decimal('5.79'), Decimal('5.85'), Decimal('5.04'), Decimal('4.85'), Decimal('3.71'))
(datetime.date(2017, 8, 5), 6, 'Hanguk', 'Jae-Shin Cha', 427619238, '', 'Y×1', '27.34', '13주 0일', 880, 5, 4, 4, 7, 20, True, 1, 7, 3, 6, 3, 2, 6, 767, datetime.date(2017, 7, 26), Decimal('3.5'), 'WB', 390000, 3, Decimal('3.52'), Decimal('5.73'), Decimal('5.45'), Decimal('4.65'), Decimal('4.01'), Decimal('3.68'))
(datetime.date(2017, 8, 5), 7, 'Hanguk', 'In-Moo Byon', 427619239, '', '', '32.22', '13주 0일', 470, 1, 6, 7, 6, 20, True, 2, 6, 5, 5, 5, 3, 6, 595, datetime.date(2017, 7, 30), Decimal('3.5'), 'CD', 300000, 4, Decimal('5.09'), Decimal('7.25'), Decimal('7.29'), Decimal('6.90'), Decimal('6.77'), Decimal('6.00'))
(datetime.date(2017, 8, 5), 8, 'Hanguk', 'Hong-Chan Son', 427619240, '', 'Y×1', '21.94', '13주 0일', 1120, 5, 3, 7, 7, 20, True, 1, 5, 6, 5, 5, 1, 4, 624, datetime.date(2017, 7, 26), Decimal('3.5'), 'WB', 310000, 0, Decimal('4.02'), Decimal('6.90'), Decimal('7.04'), Decimal('7.16'), Decimal('7.24'), Decimal('5.41'))
(datetime.date(2017, 8, 5), 9, 'Hanguk', 'Hoi-Taek Park', 427619241, 'Unpredictable', '', '19.101', '13주 0일', 1010, 2, 2, 5, 6, 20, True, 1, 5, 6, 3, 6, 3, 6, 648, datetime.date(2017, 7, 26), Decimal('3.5'), 'IM', 330000, 3, Decimal('3.04'), Decimal('5.05'), Decimal('5.44'), Decimal('5.30'), Decimal('5.74'), Decimal('4.71'))
(datetime.date(2017, 8, 5), 10, 'Hanguk', 'Kwang-Eul Jeon', 427619242, '', '', '23.100', '13주 0일', 1430, 4, 3, 6, 7, 20, True, 1, 6, 7, 3, 3, 2, 5, 748, datetime.date(2017, 7, 26), Decimal('4.0'), 'IM', 430000, 2, Decimal('3.96'), Decimal('6.73'), Decimal('7.36'), Decimal('6.69'), Decimal('7.29'), Decimal('5.12'))
(datetime.date(2017, 8, 5), 11, 'Hanguk', 'Kwang-Hwan Yun', 427619243, '', '', '26.67', '13주 0일', 740, 6, 3, 5, 6, 20, True, 2, 5, 6, 3, 5, 2, 6, 661, datetime.date(2017, 7, 30), Decimal('3.5'), 'IM', 330000, 2, Decimal('3.87'), Decimal('5.39'), Decimal('5.81'), Decimal('5.59'), Decimal('6.00'), Decimal('4.60'))
(datetime.date(2017, 8, 5), 12, 'Hanguk', 'Chan-Myung Lee', 427619244, '', '', '25.76', '13주 0일', 860, 3, 4, 5, 7, 20, True, 1, 3, 7, 3, 4, 3, 4, 749, datetime.date(2017, 7, 26), Decimal('3.5'), 'FW', 410000, 1, Decimal('3.08'), Decimal('4.95'), Decimal('5.42'), Decimal('5.93'), Decimal('6.67'), Decimal('5.30'))
(datetime.date(2017, 8, 5), 13, 'Hanguk', 'Sung-Kook Han', 427619245, 'Technical', '', '21.64', '13주 0일', 1280, 2, 3, 5, 7, 20, True, 1, 5, 6, 6, 5, 2, 5, 629, datetime.date(2017, 7, 26), Decimal('4.5'), 'W', 330000, 7, Decimal('3.39'), Decimal('5.97'), Decimal('5.94'), Decimal('6.21'), Decimal('6.14'), Decimal('4.99'))
(datetime.date(2017, 8, 5), 14, 'Hanguk', 'Se-Jong Cho', 427619246, '', '', '28.64', '13주 0일', 800, 4, 5, 6, 6, 20, True, 1, 5, 5, 6, 3, 4, 4, 613, datetime.date(2017, 7, 30), Decimal('3.5'), 'WB', 290000, 8, Decimal('3.89'), Decimal('6.46'), Decimal('6.30'), Decimal('6.32'), Decimal('6.10'), Decimal('5.77'))
(datetime.date(2017, 8, 5), 15, 'Hanguk', 'Man-Ok Lee', 427619247, 'Unpredictable', 'Y×1', '23.5', '13주 0일', 2280, 5, 3, 7, 7, 20, True, 1, 5, 5, 7, 6, 2, 4, 762, datetime.date(2017, 7, 30), Decimal('5.0'), 'W', 350000, 7, Decimal('4.03'), Decimal('7.07'), Decimal('6.71'), Decimal('7.19'), Decimal('6.69'), Decimal('5.92'))
(datetime.date(2017, 8, 5), 16, 'Hanguk', 'Dong-Shik Kim', 427619248, '', '', '18.111', '13주 0일', 1280, 6, 2, 5, 6, 20, True, 1, 3, 3, 6, 4, 7, 6, 775, datetime.date(2017, 7, 26), Decimal('4.5'), 'FW', 410000, 10, Decimal('2.69'), Decimal('4.23'), Decimal('3.78'), Decimal('4.34'), Decimal('3.97'), Decimal('5.47'))
(datetime.date(2017, 8, 5), 17, 'Hanguk', 'Seung-Mee Kim', 427619249, 'Unpredictable', '', '34.50', '13주 0일', 60, 2, 6, 5, 5, 20, True, 1, 2, 4, 4, 4, 7, 5, 680, datetime.date(2017, 7, 30), Decimal('4.0'), 'FW', 300000, 12, Decimal('2.78'), Decimal('3.91'), Decimal('3.85'), Decimal('4.49'), Decimal('4.66'), Decimal('5.65'))
(datetime.date(2017, 8, 5), 18, 'Hanguk', 'Kwang-Rae Kim', 427619250, 'Head', 'Y×2', '26.71', '13주 0일', 880, 3, 4, 4, 7, 20, True, 1, 2, 5, 3, 6, 6, 2, 631, datetime.date(2017, 7, 30), Decimal('4.0'), 'FW', 310000, 9, Decimal('2.53'), Decimal('3.65'), Decimal('3.82'), Decimal('4.52'), Decimal('4.99'), Decimal('5.37'))
(datetime.date(2017, 8, 5), 20, 'Brasil', 'Jader da Matta', 427827635, '', 'R', '32.28', '7주 6일', 720, 4, 6, 7, 6, 8, False, 2, 6, 6, 5, 6, 2, 5, 590, datetime.date(2017, 7, 30), Decimal('3.5'), 'WB', 384000, 1, Decimal('4.09'), Decimal('6.46'), Decimal('6.63'), Decimal('6.45'), Decimal('6.50'), Decimal('5.04'))
(datetime.date(2017, 8, 5), 21, 'Belgium', 'Jitse Haes', 428112207, '', 'Y×1', '31.69', '7주 6일', 890, 4, 5, 6, 6, 8, False, 2, 6, 6, 5, 6, 2, 5, 596, datetime.date(2017, 7, 30), Decimal('3.0'), 'CD', 384000, 2, Decimal('3.73'), Decimal('5.94'), Decimal('6.10'), Decimal('5.93'), Decimal('5.98'), Decimal('4.62'))
(datetime.date(2017, 8, 5), 22, 'Nederland', 'Keith Esser', 428060480, 'Quick', '', '31.86', '7주 6일', 890, 5, 6, 5, 6, 8, False, 2, 6, 5, 6, 6, 3, 6, 596, datetime.date(2017, 7, 30), Decimal('3.5'), 'W', 372000, 1, Decimal('3.52'), Decimal('5.54'), Decimal('5.43'), Decimal('5.32'), Decimal('5.05'), Decimal('4.53'))
(datetime.date(2017, 8, 5), 23, 'Belgium', 'Mathias Piron', 428125893, 'Technical', '', '32.38', '7주 6일', 500, 6, 5, 4, 6, 8, False, 2, 6, 6, 6, 6, 3, 6, 590, datetime.date(2017, 7, 30), Decimal('3.0'), 'W', 372000, 1, Decimal('3.02'), Decimal('4.95'), Decimal('4.95'), Decimal('4.95'), Decimal('4.87'), Decimal('4.11'))
(datetime.date(2017, 8, 5), 24, 'Canada', 'Philippe Morel', 425173438, 'Unpredictable', '', '33.52', '7주 5일', 320, 5, 5, 7, 5, 8, False, 2, 6, 5, 5, 6, 2, 6, 590, datetime.date(2017, 7, 26), Decimal('3.0'), 'W', 360000, 3, Decimal('3.85'), Decimal('5.94'), Decimal('5.98'), Decimal('5.68'), Decimal('5.53'), Decimal('4.51'))
(datetime.date(2017, 8, 5), 25, 'Polska', 'Pylyp Nagorniak', 406205227, '', 'Y×2', '26.111', '7주 6일', 1820, 5, 3, 6, 5, 8, False, 1, 6, 7, 3, 6, 3, 6, 725, datetime.date(2017, 7, 30), Decimal('3.5'), 'IM', 444000, 1, Decimal('2.77'), Decimal('5.34'), Decimal('5.93'), Decimal('5.53'), Decimal('6.13'), Decimal('4.57'))
(datetime.date(2017, 8, 5), 26, 'Türkiye', 'Türker Arkan', 425734621, '', 'Y×1', '33.16', '7주 6일', 670, 1, 6, 7, 6, 8, False, 2, 6, 7, 5, 6, 2, 5, 680, datetime.date(2017, 7, 30), Decimal('4.5'), 'IM', 456000, 11, Decimal('4.01'), Decimal('6.54'), Decimal('6.84'), Decimal('6.78'), Decimal('7.04'), Decimal('5.21'))
(datetime.date(2017, 8, 5), 28, 'Hanguk', 'Kyoo-Poong Jeon', 428976501, '', '', '18.66', '2주 0일', 40, 3, 1, 6, 5, 20, True, 1, 3, 3, 3, 2, 4, 4, 406, datetime.date(2017, 7, 30), Decimal('2.0'), 'CD', 250000, 1, Decimal('2.36'), Decimal('3.45'), Decimal('3.45'), Decimal('3.37'), Decimal('3.40'), Decimal('3.64'))